<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false">
  <test name="Test">
    <classes>
      <class name="com.amazon.qa.tests.SigninPageTest"/>
      <method>
      <include name="clickonConditionsofuselink"/>
      </method>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
